.movie-entry{
    border-bottom: 1px dashed gray;
    padding-bottom: 10px;
}

h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.genre {
    color: darkcyan
}

.rating {
    color: forestgreen
}

.director {
    color: darkmagenta
}

.ratings {
    display: flex;
    flex-direction: row;
}

.ratings > div {
    width: 100px;
    border: 1px solid gray;
    color: gray;
    text-align: center;
    vertical-align: central;
}

.ratings > div > span {
    display: block;
    height: 20px;
}